.list-group{
    display: none;
}

.show{
    display: block;
}
.black-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    justify-content: center;
    align-items: center;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;

}
.show-modal{
    visibility: visible;
    opacity: 1;
}
.white-bg {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
}
.main-bg{
    padding: 100px 20px;
    background: lightseagreen;
}
